body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.main-section, .section {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  align-items: center;
}

#Card-Section {
  /* background-color: #f0f8ff; */
}

#hall-of-fame-section {
  /* background-color: #4682b4;
  color: white; */
}

#Footer-section {
  min-height: auto; /* Allow footer to take its natural height */
  padding-bottom: 20px; /* Add some padding at the bottom */
}

/* Ensure the last section before the footer has some bottom padding */
.section:nth-last-child(2) {
  padding-bottom: 50px;