body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
.section {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Hero-section {
  background-color: #0077be;
  color: white;
}
#Card-Section {
  background-color: #f0f8ff;
}
#hall-of-fame-section {
  background-color: #4682b4;
  color: white;
}
/* #faqs-section {
  background-color: #e6f3ff;
}
#footer-section {
  background-color: #00008b;
  color: white;
} */
